*.csv
*.png
*.pptx
venv
.venv
__pycache__
catboost_info
.ipynb_checkpoints
results
bert-base-uncased
bert-base-uncased_checkpoints
*.jpg
*.png
neurogolf-2026
*.onnx
*.onnx.data
*.json
*.iml
.idea
1342-0.txt
*.iml
resources
*.pt